<beans xmlns ="http://www.springframework.org/schema/beans" 
    xmlns:xsi ="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation ="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    
    <bean id="StationAction" class="com.yuhui.gcoc.action.StationAction">
    	 <property name="stationService" ref="StationService"/>
    </bean>
    
    <bean id="StationService" class="com.yuhui.gcoc.service.impl.StationServiceImpl">
    	  <property name="dataSource" ref="dataSource"/>
    </bean>
    
    <bean id="RecordAction" class="com.yuhui.gcoc.action.RecordAction">
    	 <property name="recordService" ref="RecordService"/>
    </bean>
    
    <bean id="RecordService" class="com.yuhui.gcoc.service.impl.RecordServiceImpl">
    	  <property name="dataSource" ref="dataSource"/>
    </bean>
    
    
    <bean id="dataSource" destroy-method="close"
            class="org.apache.commons.dbcp.BasicDataSource">
            <property name="driverClassName" value="${jdbc.driverClassName}" />
            <property name="url" value="${jdbc.url}" />
            <property name="username" value="${jdbc.username}" />
            <property name="password" value="${jdbc.password}" />
     </bean>
     
      <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
            <property name="locations">
                <value>/WEB-INF/jdbc.properties</value>
            </property>
      </bean>   
    
</beans>